<div class="div">
  <mat-toolbar class="toolbar mat-elevation-z8">
    <button mat-icon-button title="Menu" class="button" (click)='sidenav.toggle()'><mat-icon>menu</mat-icon></button>
    <span class="space"></span>
    <button mat-icon-button title="Logout" class="button" (click)='logout()'><mat-icon>logout</mat-icon></button>
  </mat-toolbar>
  <mat-sidenav-container class="matSidenavContainer" fxLayout='column'>
    <mat-sidenav #sidenav mode='side' class="sideNav" [opened]='true'>
      <mat-nav-list>
          <ng-container>
            <mat-list-item *ngFor='let route of routeList' title='{{route.name}}' routerLink='{{route.path}}'>
              <mat-icon>{{route.icon}}</mat-icon>
              {{route.name}}
            </mat-list-item>
             
          </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
