<form #taskForm="ngForm" fxLayout='column' fxLayoutAlign='space-around center'>
  <div class="myTask"><br>
    <table datatable class="table row-border hover" *ngIf="this.flag">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of this.taskData">
          <td>{{data.title}}</td>
          <td>{{data.description}}</td>
          <td>{{data.status}}</td>
          <td>
            <button mat-raised-button title="Delete Task" (click)="delete(data.title)"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
